@{
    ViewBag.Title = "Google charts with MVC 4";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>

<h2>Google charts with MVC 4</h2>
<br />

<script type="text/javascript">
$(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("Piechart")',
                data: '{}',
                success: function (chartsdata) {

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'years');
                    data.addColumn('number', 'sales');

                    for (i = 0; i < chartsdata.length; i++)
                        data.addRow([chartsdata[i].years, chartsdata[i].sale]);

                    // Create and draw the visualization.
                    new google.visualization.PieChart(document.getElementById('chartdiv')).
                      draw(data, {});
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            });
        })
</script>



<div id="chartdiv" style="width: 600px; height: 350px;">
</div>
